body {
  padding: 70px 0;
}

.header {
  text-align: center;
}

.card p {
  font-size: 18;
}

#carousel-outer-container{
  height: 80%;
}

.carousel-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 200px;
  position: relative;
  perspective: 1000px;
  bottom: -21%;
}

.carousel {
  height: 100%;
  width: 100%;
  margin-left: 1%;
  position: absolute;
  transform: translateZ(-250px);
  transform-style: preserve-3d;
  transition: transform 1s;
  display: flex;
  justify-content: center;
}

.card {
  position: absolute;
  background: #111;
  width: 250px;
  height: 250px;
  font-size: 5em;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: solid 4px black;
}


.card:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
  background-color: blue;
}

.card:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
  background-color: red;
}

.card:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
  background-color: pink;
}

.card:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
  background-color: green;
}

.card:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
  background-color: yellow;
}

.card:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
  background-color: purple;
}

.next,
.prev {
  color: #444;
  position: absolute;
  bottom: 134px;
  padding: 1em 2em;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  border-top: 1px solid #fff;
  box-shadow: 0 5px 0 #999;

  transition: box-shadow 0.1s, top 0.1s;
}
.next {
  right: 5em;
}
.prev {
  left: 5em;
}

#carousel-volume-settings {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#volume {
  width: 100px;
  bottom: 10px;
  margin: 0 auto;
}




@media only screen and (min-width: 1080px) {
.card {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.card:nth-child(1) {
  transform: rotateY(0deg) translateZ(350px);
}

.card:nth-child(2) {
  transform: rotateY(60deg) translateZ(350px);
}

.card:nth-child(3) {
  transform: rotateY(120deg) translateZ(350px);
}

.card:nth-child(4) {
  transform: rotateY(180deg) translateZ(350px);
}

.card:nth-child(5) {
  transform: rotateY(240deg) translateZ(350px);
}

.card:nth-child(6) {
  transform: rotateY(300deg) translateZ(350px);
}
}


@media only screen and (max-width: 380px) {
 .container {
  bottom: -8%;
 }

 .prev, .next {
  /*bottom: 100px;*/
 }
}

