body {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateZ(-250px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card {
  position: absolute;
  background: #111;
  width: 250px;
  height: 250px;
  line-height: 250px;
  font-size: 5em;
  text-align: center;
  color: white;
  opacity: 0.95;
  border-radius: 50%;
}

.card:nth-child(6n+1) {
  background-color: blue;
}

.card:nth-child(6n+2) {
  background-color: red;
}

.card:nth-child(6n+3) {
  background-color: pink;
}

.card:nth-child(6n+4) {
  background-color: green;
}

.card:nth-child(6n+5) {
  background-color: yellow;
}

.card:nth-child(6n+6) {
  background-color: purple;
}

.card:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
  background-color: blue;
}

.card:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
  background-color: red;
}

.card:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
  background-color: pink;
}

.card:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
  background-color: green;
}

.card:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
  background-color: yellow;
}

.card:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
  background-color: purple;
}

.next,
.prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  border-top: 1px solid #fff;
  box-shadow: 0 5px 0 #999;

  transition: box-shadow 0.1s, top 0.1s;
}
.next {
  right: 5em;
}
.prev {
  left: 5em;
}
