:root {
    --arrow-color: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);;
    --rotation: 0deg;
}

.score-wrapper{
    height: 20%;
    width: 100%;
    background-color: aqua;
    display: flex;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
    height: 70%;
    width: 100%;
    background-color: black;
}

.new-row-generator, .board-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-color{
    filter: var(--arrow-color)
}

.arrow-wrapper{
    height: 50px;
    width: 50px;
    /* transform: rotate(var(--rotation)); */
    margin: 10px;
}

.up-arrow {
    transform: rotate(-90deg);
}

.down-arrow {
    transform: rotate(90deg);
}

.left-arrow {
    transform: rotate(180deg);
}

.moving-row{
    position: absolute;
    display: flex;
}
