@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
body {
  color: #1b0909;
  background-color: #cfc7bd;
}

.jumbotron{
  background-color: #1b0909;
  opacity: 80%;
}

.hero {
  height: 80vh;
  background-image: url("https://media.istockphoto.com/id/1257537691/vector/illustration-of-a-dance-floor-amongst-starry-open-space-vector.jpg?s=612x612&w=0&k=20&c=uEisbRI0BCO5F3Z8QrgMF_EvHpdrfTXotVv2qsBrUHs=");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-dark:hover {
  -webkit-transform: scale(1.05);
}

footer {
  background-color: black;
}

.row a {
  color: #fafafa;
}

.row a:hover {
  -webkit-transform: scale(1.05);
}

@media (max-width: 992px) {
  .lead {
    font-size: 1rem;
  }
}
