@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
body {
  color: #1b0909;
  background-color: #cfc7bd;
}

.hero {
  height: 80vh;
  background: url("../images/home/pexels-4.jpg") center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-dark:hover {
  -webkit-transform: scale(1.05);
}

footer {
  background-color: #cfc7bd;
}

.row a {
  color: #1b0909;
}

.row a:hover {
  -webkit-transform: scale(1.05);
}

@media (max-width: 992px) {
  .lead {
    font-size: 1rem;
  }
}
